body{
    background-image: url(tree.jpg);
    background-size: cover;
}

#leaves{
    position: relative;
    top: -50px;
    width: 100%;
    text-align: right;
}

#leaves i{
    display: inline-block;
    width: 200px;
    height: 150px;
    background: linear-gradient(top bottom right, #309900, #005600);
    transform: skew(20deg);
    border-radius: 5% 40% 70%;
    box-shadow: inset 0px 0px 1px #222;
    border: 1px solid #333;
    z-index: 1;
    -webkit-animation: falling 5s 0s infinite;
}

#leaves i:nth-of-type(2n){
    -webkit-animation: falling 5s 0s infinite;
}

#leaves i:nth-of-type(2n){
    -webkit-animation: falling2 5s 0s infinite;
}

#leaves i:nth-of-type(3n){
    -webkit-animation: falling3 5s 0s infinite;
}

#leaves i:before{

}