body{
    background-image: url(tree.jpg);
    background-size: cover;
}

#leaves{
    position: relative;
    top: -50px;
    width: 100%;
    text-align: right;
}

#leaves i{
    display: inline-block;
    width: 200px;
    height: 150px;
    background: linear-gradient(top bottom right, #309900, #005600);
    transform: skew(20deg);
    border-radius: 5% 40% 70%;
    box-shadow: inset 0px 0px 1px #222;
    border: 1px solid #333;
    z-index: 1;
    -webkit-animation: falling 5s 0s infinite;
}

#leaves i:nth-of-type(2n){
    -webkit-animation: falling2 5s 0s infinite;
}

#leaves i:nth-of-type(3n){
    -webkit-animation: falling3 5s 0s infinite;
}

#leaves i:before{
    position: absolute;
    content: '';
    top: 117px;
    right: 9px;
    height: 27px;
    width: 32px;
    transform: rotate(49deg);
    border-radius: 0% 15% 15% 0%;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
    border-left: 0px solid #222;
    border-right: 1px solid #222;
    background: linear-gradient(to right, rgba(0,100,0,1), #005600);
    z-index: 1;
}

#leaves i:after{
    content: '';
    height: 125px;
    width: 10px;
    background: linear-gradient(to right, rgba(0,0,0,.15), rgba(0,0,0,0));
    display: block;
    transform: rotate(125deg);
    position: absolute;
    left: 85px;
    border-radius: 50%;
}

#leaves i:nth-of-type(n){ height: 23px; width: 30px; }
#leaves i:nth-of-type(n):before{ width: 7px; height: 5px; top:17px; right: 1px;}
#leaves i:nth-of-type(n):after{ width: 2px; height: 17px; left: 12px; top: 1px;}
#leaves i:nth-of-type(2n+1){ height: ;}